/** Base **/
.bold {
	font-weight: bold;
}

select {
	background-image: url("../img/icon-arrow-down.png")!important;
}

.action {
	cursor: pointer;
	color: #276488;
}

.no-select {
   user-select: none;
   -o-user-select:none;
   -moz-user-select: none;
   -khtml-user-select: none;
   -webkit-user-select: none;
}

/** Grid Component **/
table tbody {
	border: 1px solid #ddd;
}

tbody tr:nth-child(even) {
	background-color: #eee;
}

tbody tr {
	height: 36px;
}

tbody tr.interactive:hover {
	background-color: #777;
	color: #fff;
	cursor: pointer;
	font-weight: bold;
}

.gridHeader {
	color: #276488;
	cursor: pointer;
}

tr[data-id="total"] {
	font-weight: bold;
}

td.emptyDatasetMessage {
	text-align: center;
}

/** Layout **/
#app {
	min-height: 600px;
}

.controls button {
	width: 200px;
}

.identifier, label {
	font-size: 1.1em;
}

.course-list {
	th.session { width: 15%;}
	th.courseNumber { width: 30%; }
	th.title { width: 30%; }
	th.result, td.result { text-align: right; }
}

.course-results {
	th.date { width: 15%; }
	th.title { width: 20%; }
	th.category { width: 15%; }
	th.gradeOn, td.gradeOn { width: 10%; text-align: right; }
	th.result, td.result { width: 10%; text-align: right; }
	th.published, td.published { width: 10%; text-align: center; }
}
