tbody tr:nth-child(odd) {
	background-color: #eee;
}

tbody tr {
	height: 36px;
}

.controls .form-group {
	margin-bottom: 5px;
}

.controls button {
	width: 200px;
}

.course-list {
	border: 1px solid #ddd;
	padding: 5px;
	padding-top: 20px;
	margin-top: 10px;
}

.course-list select {
	background-image: url("../img/icon-arrow-down.png");
}

.identifier {
	padding-bottom: 10px;
}

.bold {
	font-weight: bold;
}

.gridHeader {
	color: #276488;
	cursor: pointer;
}

th.session {
	width: 15%;
}

th.courseNumber {
	width: 30%;
}