/** Base **/
.bold {
	font-weight: bold;
}

select {
	background-image: url("../img/icon-arrow-down.png");
}

/** Grid Component **/
tbody tr:nth-child(odd) {
	background-color: #eee;
}

tbody tr {
	height: 36px;
}

tbody tr.interactive:hover {
	background-color: #777;
	color: #fff;
	cursor: pointer;
	font-weight: bold;
}

.gridHeader {
	color: #276488;
	cursor: pointer;
}

/** Layout **/
.controls .form-group {
	margin-bottom: 5px;
}

.controls button {
	width: 200px;
}

.course-list {
	border: 1px solid #ddd;
	padding: 5px;
	padding-top: 20px;
	margin-top: 10px;
}

.course-results {
	border: 1px solid #ddd;
	padding: 5px;
	padding-top: 20px;
	margin-top: 10px;
}

.identifier div {
	padding-bottom: 10px;
}

th.session {
	width: 15%;
}

th.courseNumber {
	width: 30%;
}

th.title {
	width: 30%;
}

th.results, td.results {
	text-align: right;
}
