<div class="search-panel">
	<div class="col-xs-12 col-md-4">
		<form>
			<div class="form-group">
				<label for="matricule">Matricule*</label>
				<input class="form-control" type="text" id="matricule" />
			</div>

			<button type="button" class="btn btn-primary">Afficher</button>

			<div class="form-group">
				<label for="session">Session</label>
				<select class="form-control" id="session">
					<option *ngFor="let academicSession of academicSessions"
						value="{{academicSession.code}}">{{academicSession.name}}</option>			
				</select>
			</div>
		</form>
	</div>
</div>
